## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## NuGet
packages/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
[Bb]uild[Ll]og.*

## MSIX
AppPackages/
BundleArtifacts/

## User-specific
*.rsuser
*.DotSettings.user

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
